{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
{% block title %}{% endblock %}
<!-- For-Mobile-Apps-and-Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fortune Estates Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, SmartPhone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps-and-Meta-Tags -->
<!-- Custom Theme files -->
<link href="{% static 'Bookmanage/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'Bookmanage/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
{% block stylesheet %}{% endblock %}
    <!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'Bookmanage/js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!-- pop-up-box -->
{% block pop-up-box %}{% endblock %}
<!--//pop-up-box -->
<!-- web-fonts -->
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body class="bg">
	<div class="agile-main">
		<div class="menu-wrap" id="style-1">
			<nav class="top-nav">
				{% block icon-list %}{% endblock %}
				</nav>
			<button class="close-button" id="close-button">C</button>
		</div>
		<div class="content-wrap">
			<div class="header">
				<div class="menu-icon">
					<button class="menu-button" id="open-button">O</button>
				</div>
				<div class="logo">
					<h2><a href="main.html">FE</a></h2>
				</div>
				<div class="login">
					<a href="#small-dialog" class="sign-in popup-top-anim"><span class="glyphicon glyphicon-user"></span></a>
					<!-- modal -->
					<div id="small-dialog" class="mfp-hide">
						<div class="login-modal">
							<div class="booking-info">
								<h3><a href="main.html">Fortune Estates</a></h3>
							</div>
							<div class="login-form">
								<form action="#" method="post">{% csrf_token %}
									<div class="styled-input">
										<input type="text" name="Username" required=""/>
										<label>Username</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="password" name="Password" required="">
										<label>Password</label>
										<span></span>
									</div>
									<div class="wthree-text">
										<ul>
											<li>
												<input type="checkbox" id="brand" value="">
												<label for="brand"><span></span> Remember me ?</label>
											</li>
											<li> <a href="#">Forgot password?</a> </li>
										</ul>
										<div class="clear"> </div>
									</div>
									<input type="submit" value="Sign In">
								</form>
								<p>Don’t have an account ?<a href="#small-dialog1" class="sign-in popup-top-anim"> Sign Up</a></p>
							</div>
						</div>
					</div>
					<!-- //modal -->
					<!-- modal-two -->
					<div id="small-dialog1" class="mfp-hide">
						<div class="login-modal">
							<div class="booking-info">
								<h3><a href="main.html">Fortune Estates</a></h3>
							</div>
							<div class="login-form signup-form">
								<form action="#" method="post">{% csrf_token %}
									<div class="styled-input">
										<input type="text" name="Username" required=""/>
										<label>Username</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="text" name="email" required=""/>
										<label>Email</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="password" name="Password" required="">
										<label>Password</label>
										<span></span>
									</div>
									<div class="wthree-text">
										<input type="checkbox" id="brand1" value="">
										<label for="brand1"><span></span>I accept the terms of use</label>
									</div>
									<input type="submit" value="Sign Up">
								</form>
							</div>
						</div>
					</div>
					<!-- //modal-two -->
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="content">
				{% block property %}{% endblock %}
				<!-- brands -->
				<div class="w3agile brands">
					<h3 class="w3ls-title">Our Clients</h3>
					<div class="brands-info">
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b1.jpg' %}" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b2.jpg' %}" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b3.jpg' %}" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b4.jpg' %}" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b5.jpg' %}" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="{% static 'Bookmanage/images/b6.jpg' %}" alt=""/></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //brands -->
				<!-- footer -->
				<div class="w3agile footer">
					<div class="social-icons">
						<ul>
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="gp"> </a></li>
							<li><a href="#" class="drb"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-nav">
						<ul>
							<li><a href="main.html"> Home </a></li>
							<li><a href="about.html"> About </a> </li>
							<li><a href="property.html"> Properties </a></li>
							<li><a href="gallery.html"> Gallery</a></li>
							<li><a href="contact.html"> Contact </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-text">
						<p>&copy; 2016 Fortune Estates . All Rights Reserved | Design by <a href="https://github.com/wym2010" target="_blank">wym</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- menu-js -->
	<script src="{% static 'Bookmanage/js/classie.js' %}"></script>
	<script src="{% static 'Bookmanage/js/main.js' %}"></script>
	<!-- //menu-js -->
	<!-- nice scroll-js -->
	<script src="{% static 'Bookmanage/js/jquery.nicescroll.min.js' %}"></script>
	<script>
		$(document).ready(function() {

			var nice = $("html").niceScroll();  // The document page (body)

			$("#div1").html($("#div1").html()+' '+nice.version);

			$("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV
		});
	</script>
	<!-- //nice scroll-js -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Bookmanage/js/bootstrap.js' %}"></script>
</body>
</html>